<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <appSettings>
    <!--<add key="LMK-Environment"  value="1:itvfl" />-->
    <add key="LMK-Environment"  value="3:itvuat" />
    <add key="lmkPassword" value="PASSWORD" />
    <add key="username" value="JO FOSTER" />
  </appSettings>

</configuration>
